@import "./resetCSS", "./fonts", "./headerAndNavigation", "./infoBlock",
"./ridersBlock", "./characteristic", "./bikes", './blog', './signUp', './footer', "./popUpText";

body {
    max-width: 100%;
    background-color: #1b1b1b;
    min-width: 300px;
}

a {
    color: inherit;
    text-decoration: none;
}